.create-or-find {
  border: 2px solid purple;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.gerneral-header-nav {
  font-size: 1.2rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  width: 250px;
  /* border: 2px solid blue; */
}

.header-link {
  border: 1px solid black;
}
